services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  JWeiland\Pforum\:
    resource: '../Classes/*'

  # Called by makeInstance in TYPO3's PluginPreview
  JWeiland\Pforum\Backend\Preview\PluginPreview:
    public: true

  JWeiland\Pforum\EventListener\AddPaginatorEventListener:
    tags:
    - name: event.listener
      event: JWeiland\Pforum\Event\PostProcessFluidVariablesEvent

  JWeiland\Pforum\EventListener\ApplyEmailAsMandatoryIfNeededEventListener:
    tags:
    - name: event.listener
      event: JWeiland\Pforum\Event\PreProcessControllerActionEvent
  JWeiland\Pforum\EventListener\AssignMediaTypeConverterForTopicEventListener:
    tags:
    - name: event.listener
      event: JWeiland\Pforum\Event\PreProcessControllerActionEvent
  JWeiland\Pforum\EventListener\AssignMediaTypeConverterForPostEventListener:
    tags:
    - name: event.listener
      event: JWeiland\Pforum\Event\PreProcessControllerActionEvent
  JWeiland\Pforum\EventListener\ApplyUsernameAsMandatoryIfNeededEventListener:
    tags:
    - name: event.listener
      event: JWeiland\Pforum\Event\PreProcessControllerActionEvent
